<ion-content>
  <ion-toolbar>
    <ion-title>Ausgleichszahlung</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="onDismiss()" [disabled]="!form.valid">
        <ion-icon name="checkmark-outline" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

  <div *ngIf="groupMembers().members.length > 0">
    <form [formGroup]="form">
      <ion-list>
        <ion-grid>
          <ion-row>
            <ion-col size-sm="6" offset-sm="3">
              <ion-item>
                <ion-label position="floating">Betrag in €*</ion-label>
                <ion-input
                  type="number"
                  formControlName="amount">
                </ion-input>
              </ion-item>
              <ion-item lines="none" *ngIf="amount?.invalid && (amount?.dirty || amount?.touched)">
                <ion-label color="danger">
                  <small *ngIf="amount?.errors?.['required']">Pflichtfeld!</small>
                  <small *ngIf="amount?.errors?.['pattern']" class="text-danger">Dezimalstelle mit Punkt trennen: ##.##</small>
                </ion-label>
              </ion-item>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size-sm="6" offset-sm="3">
              <ion-item>
                <ion-label position="floating">An Mitglied*</ion-label>
                <ion-select
                  type="text"
                  formControlName="memberId"
                  okText="Ok" cancelText="Abbrechen">
                  <ion-select-option *ngIf="user.id != groupMembers().ownerId" [value]="groupMembers().ownerId">{{ groupMembers().ownerName }}</ion-select-option>
                  <div *ngFor="let member of groupMembers().members">
                    <ion-select-option *ngIf="user.id != member.id" [value]="member.id">{{ member.userName }}</ion-select-option>
                  </div>
                </ion-select>
              </ion-item>
              <ion-item lines="none" *ngIf="memberId?.invalid && memberId?.dirty">
                <ion-label color="danger"><small>Pflichtfeld!</small></ion-label>
              </ion-item>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size-sm="6" offset-sm="3">
              <ion-item id="open-modal">
                <ion-label position="floating">Datum*</ion-label>
                <ion-input
                type="text"
                placeholder="dd.MM.yyyy"
                [value]="formattedString"
                formControlName="datePurchased"
                ></ion-input>
              </ion-item>
              <ion-modal trigger="open-modal">
                <ng-template>
                  <ion-content>
                    <ion-datetime
                      #datetime
                      size="cover"
                      presentation="date"
                      [isDateEnabled]="isDateSelectable"
                      [min]="minDate"
                      [max]="maxDate"
                      [firstDayOfWeek]="1"
                      [value]="dateValue"
                      [preferWheel]="false"
                      (ionChange)="dateChanged(datetime.value)"
                      (ionCancel)="showPicker = false;">
                      <ion-buttons slot="buttons">
                        <ion-button color="primary" (click)="closeDatePicker()">Abbrechen</ion-button>
                        <ion-button color="primary" (click)="select()">Speichern</ion-button>
                      </ion-buttons>
                    </ion-datetime>
                  </ion-content>
                </ng-template>
              </ion-modal>
              <ion-item lines="none" *ngIf="datePurchased?.invalid && (datePurchased?.dirty || datePurchased?.touched)">
                <ion-label color="danger">
                  <small *ngIf="datePurchased?.errors?.['required']">Pflichtfeld!</small>
                  <small *ngIf="datePurchased?.errors?.['pattern']">Datumsformat beachten: dd.MM.yyyy</small>
                </ion-label>
              </ion-item>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-toolbar>
                <ion-buttons slot="end" >
                  <ion-button (click)="close()" color="primary">ABBRECHEN</ion-button>
                </ion-buttons>
              </ion-toolbar>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-list>
    </form>
  </div>
  <div *ngIf="groupMembers().members.length === 0">
    <ion-list>
      <ion-grid>
        <ion-row>
          <ion-col class="ion-text-center" size-sm="6" offset-sm="3">
            <ion-text>keine Mitglieder vorhanden</ion-text>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-toolbar>
              <ion-buttons slot="end" >
                <ion-button (click)="close()" color="primary">ABBRECHEN</ion-button>
              </ion-buttons>
            </ion-toolbar>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-list>
  </div>

</ion-content>
