.group-details {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: small;
    .group-members {
        display: flex;
    }
    .admin {
        margin-right: 0.5rem;
    }
}