<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/domains/tabs/cartlist"></ion-back-button>
    </ion-buttons>
    <ion-title>Passwort ändern</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-text-center ion-padding">
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <ion-grid>
      <ion-row>
      <ion-col size-sm="6" offset-sm="3">

        <!-- Old Password -->
        <ion-list>
          <ion-item lines="none">
            <ion-label position="floating">Altes Passwort</ion-label>
            <ion-input 
              [type]="showPassOld ? 'text' : 'password'"
              maxlength="200"
              formControlName="oldPassword"  
            ></ion-input>
            <ion-button class="icon-eye-btn" slot="end" fill="clear" color="medium" (click)="toggleShow('O')">
              <ion-icon [hidden]="showPassOld" name="eye-off-outline"></ion-icon>
              <ion-icon [hidden]="!showPassOld" name="eye-outline"></ion-icon>
            </ion-button>
          </ion-item>
          <ion-item *ngIf="oldPassword?.invalid && (oldPassword?.dirty || oldPassword?.touched)" lines="none">
            <ion-label color="danger">
              <small *ngIf="oldPassword?.errors?.['required']">Pflichtfeld!<br></small>
              <small *ngIf="oldPassword?.errors?.['minlength']">Mindestens 6 Zeichen erforderlich<br></small>
              <small *ngIf="oldPassword?.errors?.['pattern']">Das Password darf keine Leerzeichen enthalten<br></small>
            </ion-label>
          </ion-item>
        </ion-list>

        <!-- New Password -->
        <ion-list>
          <ion-item lines="none">
            <ion-label position="floating">Neues Passwort</ion-label>
            <ion-input 
              [type]="showPassNew ? 'text' : 'password'"
              maxlength="200"
              formControlName="newPassword"  
            ></ion-input>
            <ion-button class="icon-eye-btn" slot="end" fill="clear" color="medium" (click)="toggleShow('N')">
              <ion-icon [hidden]="showPassNew" name="eye-off-outline"></ion-icon>
              <ion-icon [hidden]="!showPassNew" name="eye-outline"></ion-icon>
            </ion-button>
          </ion-item>
          <ion-item *ngIf="newPassword?.invalid && (newPassword?.dirty || newPassword?.touched)" lines="none">
            <ion-label color="danger">
              <small *ngIf="newPassword?.errors?.['required']">Pflichtfeld!<br></small>
              <small *ngIf="newPassword?.errors?.['minlength']">Mindestens 6 Zeichen erforderlich<br></small>
              <small *ngIf="newPassword?.errors?.['pattern']">Das Password darf keine Leerzeichen enthalten<br></small>
            </ion-label>
          </ion-item>
        </ion-list>

        <!-- New Password Confirmation -->
        <ion-list>
          <ion-item lines="none">
            <ion-label position="floating">Bestätige das neue Passwort</ion-label>
            <ion-input 
              [type]="showPassNewConfirmed ? 'text' : 'password'"
              maxlength="200"
              formControlName="newPasswordConfirmed"  
            ></ion-input>
            <ion-button class="icon-eye-btn" slot="end" fill="clear" color="medium" (click)="toggleShow('NC')">
              <ion-icon [hidden]="showPassNewConfirmed" name="eye-off-outline"></ion-icon>
              <ion-icon [hidden]="!showPassNewConfirmed" name="eye-outline"></ion-icon>
            </ion-button>
          </ion-item>
          <ion-item *ngIf="newPasswordConfirmed?.invalid && (newPasswordConfirmed?.dirty || newPasswordConfirmed?.touched)" lines="none">
            <ion-label color="danger">
              <small *ngIf="newPasswordConfirmed?.errors?.['required']">Pflichtfeld!<br></small>
              <small *ngIf="newPasswordConfirmed?.errors?.['minlength']">Mindestens 6 Zeichen erforderlich<br></small>
              <small *ngIf="newPasswordConfirmed?.errors?.['pattern']">Das Password darf keine Leerzeichen enthalten<br></small>
            </ion-label>
          </ion-item>
        </ion-list>

      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size-sm="6" offset-sm="3">
        <ion-button
          shape="round"
          type="submit"
          class="ion-margin"
          color="primary"
          expand="full"
          [disabled]="!form.valid">Passwort ändern</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</form>
</ion-content>
