<ion-content class="ion-text-center ion-padding">
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <ion-grid>
      <h3>{{ isLogin ? 'Anmelden' : 'Registrieren' }}</h3>
      <ion-row>
      <ion-col size-sm="6" offset-sm="3">

          <ion-list>
            <ion-item lines="none" *ngIf="!isLogin">
              <ion-label position="floating">Benutzername</ion-label>
              <ion-input 
                type="text"
                maxlength="50"
                formControlName="userName"
              ></ion-input>
            </ion-item>
            <ion-item *ngIf="!isLogin && userName?.invalid && userName?.touched" lines="none">
              <ion-label color="danger">
                <small *ngIf="userName?.errors?.['required']">Pflichtfeld!</small>
                <small *ngIf="userName?.errors?.['minlength']">Mindestens 3 Zeichen erforderlich</small>
              </ion-label>
            </ion-item>
          </ion-list>

          <ion-list>
            <ion-item lines="none">
              <ion-label position="floating">Email</ion-label>
              <ion-input 
                type="email"
                maxlength="50"
                formControlName="userEmail"
              ></ion-input>
            </ion-item>
            <ion-item *ngIf="userEmail?.invalid && (userEmail?.dirty || userEmail?.touched)" lines="none">
              <ion-label color="danger">
                <small *ngIf="userEmail?.errors?.['required']">Pflichtfeld!</small>
                <small *ngIf="userEmail?.errors?.['pattern']">Keine gültige E-Mail Adresse</small>
              </ion-label>
            </ion-item>
          </ion-list>

          <ion-list>
            <ion-item lines="none">
              <ion-label position="floating">Passwort</ion-label>
              <ion-input 
                [type]="showPassword ? 'text' : 'password'"
                maxlength="200"
                formControlName="password"  
              ></ion-input>
              <ion-button class="icon-eye-btn" slot="end" fill="clear" color="medium" (click)="toggleShow()">
                <ion-icon [hidden]="showPassword" name="eye-off-outline"></ion-icon>
                <ion-icon [hidden]="!showPassword" name="eye-outline"></ion-icon>
              </ion-button>
            </ion-item>
            <ion-item *ngIf="password?.invalid && (password?.dirty || password?.touched)" lines="none">
              <ion-label color="danger">
                <small *ngIf="password?.errors?.['required']">Pflichtfeld!</small>
                <small *ngIf="password?.errors?.['minlength']">Mindestens 6 Zeichen erforderlich</small>
              </ion-label>
            </ion-item>
          </ion-list>

      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size-sm="6" offset-sm="3">
        <ion-button
          shape="round"
          type="button"
          class="ion-margin"
          fill="clear"
          color="primary"
          expand="full"
          (click)="onSwitchAuthMode()">{{ isLogin ? 'Registrieren' : 'Anmelden' }}</ion-button>
        <ion-button
          shape="round"
          type="submit" 
          class="ion-margin" 
          color="primary" 
          expand="block" 
          [disabled]="!form.valid">{{ isLogin ? 'Anmelden' : 'Registrieren' }}</ion-button>
          <ion-text color="primary" (click)="resetPassword()"><small>Passwort vergessen?</small></ion-text>
      </ion-col>
    </ion-row>
  </ion-grid>
</form>
</ion-content>
