<ion-header class="ion-no-border ion-text-center">
  <ion-toolbar>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-grid class="h-full ion-text-center">
    <ion-row class="h-full ion-align-items-center ion-justify-content-center">
      <ion-col>
        <ion-icon name="people-outline" size="large" color="medium"></ion-icon>
        <h2>{{ 'error_pages.no_group.title' | translate }}</h2>
        <p>{{ 'error_pages.no_group.message' | translate }}</p>
        <ion-button shape="round" (click)="onCreateGroup()">
          <ion-icon slot="start" name="add-circle"></ion-icon>
          {{ 'error_pages.no_group.btn_text' | translate }}
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer class="ion-no-border">
  <ion-toolbar class="ion-padding-horizontal">
    <ion-text slot="start" routerLink="/userprofile">{{ 'error_pages.no_group.footer.link_profile' | translate }}</ion-text>
    <ion-text slot="end" (click)="exitApp()">{{ 'error_pages.no_group.footer.exit_app' | translate }}</ion-text>
  </ion-toolbar>
</ion-footer>
