<ion-tabs>
  <ion-tab-bar slot="button">
    <ion-tab-button tab="overview">
      <ion-label>Übersicht</ion-label>
      <ion-icon name="bar-chart-outline"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="cartlist">
      <ion-label>Ausgaben</ion-label>
      <ion-icon name="server-outline"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="shoppinglist">
      <ion-label>Einkaufslisten</ion-label>
      <ion-icon name="list-outline"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>