<ion-header class="ion-no-border ion-text-center">
  <ion-toolbar>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="isLoading" class="ion-padding">
  <ion-row>
    <ion-col class="ion-text-center" size-md="6" offset-md="3">
      <ion-spinner color="primary"></ion-spinner>
    </ion-col>
  </ion-row>
</ion-content>

<ion-content *ngIf="!isLoading" class="ion-padding">
  <ion-grid class="h-full ion-text-center">
    <ion-row class="h-full ion-align-items-center ion-justify-content-center">
      <ion-col>
        <h1>🚨</h1>
        <h2>Server nicht erreichbar!</h2>
        <p>Bitte versuche es später noch einmal.</p>
        <ion-button shape="round" (click)="reloadApp()">
          <ion-icon slot="start" name="refresh-circle"></ion-icon>
          Reload
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer class="ion-no-border">
  <ion-toolbar class="ion-padding-horizontal">
    <ion-text slot="end" (click)="exitApp()">Exit</ion-text>
  </ion-toolbar>
</ion-footer>
