<ng-container *ngIf="backendStatus === 'DOWN'">
  <ion-content class="ion-padding ion-text-center">
    <h1>🚨 Backend nicht erreichbar</h1>
    <p>Bitte versuche es später erneut.</p>
  </ion-content>
</ng-container>

<ion-app *ngIf="backendStatus === 'UP'">
  <ion-menu side="start" menuId="m1" contentId="main">
    <ion-header class="ion-no-border">
      <ion-toolbar>  
        <ion-title color="primary" class="menu-header-title">DIVVY</ion-title>
        <ion-item>
          <div class="menu-header">
            <ion-label class="ion-text-wrap" *ngIf="user">
              Hallo {{ (user.name.length > 10) ? (user.name | slice:0:10) + '...' : user.name }}!
            </ion-label>
            <ion-text>Schön dich zu sehen 😊</ion-text>
            <ion-text class="ion-text-wrap" color="medium">Gruppe: {{ activeGroup.name }}</ion-text>
          </div>
        </ion-item>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-list-header>
          <ion-label color="medium">GRUPPEN</ion-label>
        </ion-list-header>
        <ion-item button lines="none" (click)="isOpen = !isOpen" [class.active-parent]="isOpen" detail="false">
          <ion-icon slot="start" name="chevron-up" *ngIf="!isOpen"></ion-icon>
          <ion-icon slot="start" name="chevron-down" *ngIf="isOpen"></ion-icon>
          <ion-label>Meine Gruppen ({{ sideNavGroups().length }})</ion-label>
        </ion-item>
        <ion-list *ngIf="isOpen">
          <ion-item *ngIf="sideNavGroups().length <= 0" class="sub-item" lines="none">
            <p>Keine Gruppen gefunden.</p>
          </ion-item>
          <ion-menu-toggle>
            <ion-item *ngFor="let group of sideNavGroups()"
                      class="sub-item"
                      (click)="setActiveGroup(group)"
                      [class.active]="group.id === activeGroup.id"
                      lines="none" 
                      button>
              <ion-icon *ngIf="groupHasMembers(group)" name="people-outline" slot="start"></ion-icon>
              <ion-icon *ngIf="!groupHasMembers(group)" name="person-outline" slot="start"></ion-icon>
              <ion-label class="ion-text-wrap">{{ group.name }}</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>

        <ion-menu-toggle menu="m1">
          <ion-item lines="none" routerLink="/groupoverview" button>
            <ion-icon name="ellipsis-horizontal" slot="start"></ion-icon>
            <ion-label>Gruppen bearbeiten</ion-label>
          </ion-item>
        </ion-menu-toggle>

        <ion-menu-toggle menu="m1">
          <ion-item lines="none" (click)="onCreateGroup()" button>
            <ion-icon name="add" slot="start"></ion-icon>
            <ion-label>Gruppe hinzufügen</ion-label>
          </ion-item>
        </ion-menu-toggle>

        <ion-list-header>
          <ion-label color="medium">KATEGORIEN</ion-label>
        </ion-list-header>
        <ion-menu-toggle menu="m1">
          <ion-item lines="none" routerLink="/categoryoverview" button>
            <ion-icon name="ellipsis-horizontal" slot="start"></ion-icon>
            <ion-label>Kategorien bearbeiten</ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle menu="m1">
          <ion-item lines="none" (click)="onCreateCategory()" button>
            <ion-icon name="add" slot="start"></ion-icon>
            <ion-label>Kategorie hinzufügen</ion-label>
          </ion-item>
        </ion-menu-toggle>

        <ion-list-header>
          <ion-label color="medium">EINSTELLUNGEN</ion-label>
        </ion-list-header>
        <ion-menu-toggle menu="m1">
          <ion-item lines="none" routerLink="/userprofile" button>
            <ion-icon name="person-circle-outline" slot="start"></ion-icon>
            <ion-label>Profil bearbeiten</ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-item lines="none">
          <ion-icon name="moon-outline" slot="start"></ion-icon>
          <ion-label>Dark Mode</ion-label>
          <ion-toggle 
              slot="end"
              (ionChange)="onToggleColorTheme($event)"
              checked={{darkMode}}
          ></ion-toggle>
        </ion-item>
        
      </ion-list>
    </ion-content>

    <ion-footer class="ion-no-border">
      <ion-menu-toggle>
        <div class="menu-footer" (click)="onLogout()">
          <ion-icon name="power-outline" color="dark"></ion-icon>
          <ion-text color="dark"><small>Logout</small></ion-text>
        </div>
      </ion-menu-toggle>
    </ion-footer>
  </ion-menu>
  <ion-router-outlet id="main"></ion-router-outlet>
</ion-app>
