<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button menu="m1"></ion-menu-button>
    </ion-buttons>
    <ion-title>Ausgaben</ion-title>

    <ion-buttons slot="primary">
      <ion-text class="ion-padding group-name" routerLink="/groupoverview"><small>{{ (activeGroup.name.length > 20)? (activeGroup.name | slice:0:20) + '...' : (activeGroup.name) }}</small></ion-text>
      <ion-button [routerLink]="['new-edit']">
        <ion-icon name="add" slot="icon-only"></ion-icon>
      </ion-button>
      <ion-button id="cartlist-popover-button">
        <ion-icon name="ellipsis-vertical"></ion-icon>
      </ion-button>
      <ion-popover trigger="cartlist-popover-button" [dismissOnSelect]="true" side="bottom" alignment="start">
        <ng-template>
          <ion-content>
            <ion-list lines="none">
              <ion-item size="small" [button]="true" [detail]="false">
                <ion-icon class="pop-icon" name="download-outline" slot="start"></ion-icon>
                <ion-label>Download</ion-label>
              </ion-item>
              <ion-item size="small" [button]="true" [detail]="false">
                <ion-icon class="pop-icon" name="repeat-outline" slot="start"></ion-icon>
                <ion-label>Ausgleichszahlung</ion-label>
              </ion-item>
              <ion-item size="small" [button]="true" [detail]="false">
                <ion-icon class="pop-icon" name="filter-circle-outline" slot="start"></ion-icon>
                <ion-label>Filter</ion-label>
              </ion-item>
            </ion-list>
          </ion-content>
        </ng-template>
      </ion-popover>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-list-header color="dark">
  <ion-label>
    <div class="total">
      <ion-text>{{ filterTerm() == "" ? "Gesamt" : (filterTerm().length > 12 ? (filterTerm() | slice:0:12) + '...' : (filterTerm()))  }} ({{ count() }})</ion-text>
        <ion-chip color="primary" *ngIf="filterMode">
          <ion-label>filter</ion-label>
          <ion-icon name="close" (click)="deleteFilter(activeGroup)"></ion-icon>
        </ion-chip>
      <ion-text>{{ sum() | scientificCurrency }}</ion-text>
    </div>
  </ion-label>
</ion-list-header>



<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="refreshCartList($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <!-- <ion-text class="ion-padding group-name"><small>{{ (activeGroup.name.length > 50)? (activeGroup.name | slice:0:50) + '...' : (activeGroup.name) }}</small></ion-text> -->
  <ion-grid class="ion-padding">
    <ion-row>
      <ion-col class="ion-text-center" size-md="6" offset-md="3" *ngIf="isLoading">
        <ion-spinner color="primary"></ion-spinner>
      </ion-col>
      <ion-col class="ion-text-center" size-md="6" offset-md="3" *ngIf="!isLoading && (!cartList() || cartList().length <= 0)">
        <p>Keine Ausgaben vorhanden!</p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size-md="6" offset-md="3" *ngIf="!isLoading && cartList() && cartList().length > 0">
        <cdk-virtual-scroll-viewport itemSize="56" minBufferPx="900" maxBufferPx="1350">
          <ion-list *ngIf="!isLoading && cartList().length > 0">
            <ion-item-sliding *cdkVirtualFor="let cart of cartList(), let i = index" #slidingItem>
              <ion-item>
                <ion-avatar slot="start" (click)="onFilter('category', cart.categoryDto.name)">
                  <div class="category-circle">
                    <p *ngIf="cart.categoryDto.name !== 'Ausgleichszahlung'">{{ cart.categoryDto.name.substring(0, 2) | uppercase }}</p>
                    <ion-icon *ngIf="cart.categoryDto.name === 'Ausgleichszahlung'" name="repeat-outline" color="medium"></ion-icon>
                  </div>
                </ion-avatar>
                <ion-label>
                  <div class="cart-details">
                    <h2 (click)="toggleDescriptionVisibility(i)" class="titlestyle ion-text-wrap">{{ cart.title }}</h2>
                    <h2>{{ cart.amount | scientificCurrency }}</h2>
                  </div>
                  <p *ngIf="isDescriptionVisible(i)" class="ion-text-wrap">{{cart.description}}</p>
                  <div class="cart-details">
                    <ion-text *ngIf="cart.userDto.userName !== user?.name" (click)="onFilter('user', cart.userDto.userName)" color="medium" >{{ cart.userDto.userName }}</ion-text>
                    <ion-text *ngIf="cart.userDto.userName === user?.name" (click)="onFilter('user', cart.userDto.userName)" color="primary" ><strong>{{ cart.userDto.userName }}</strong></ion-text>
                    <div class="cart-name-date">
                      <ion-text color="medium">{{ cart.datePurchased | date: "dd.MM.yyyy" }}</ion-text>
                    </div>
                  </div>
                </ion-label>
              </ion-item>
              <ion-item-options *ngIf="cart.userDto.userName == user?.name">
                <ion-item-option color="secondary">
                  <ion-icon name="create-outline" slot="icon-only" (click)="editCart(cart, slidingItem)"></ion-icon>
                </ion-item-option>
                <ion-item-option (click)="onDeleteCart(cart, slidingItem)" color="secondary">
                  <ion-icon name="trash-outline" slot="icon-only"></ion-icon>
                </ion-item-option>
              </ion-item-options>
            </ion-item-sliding>
          </ion-list>  
        </cdk-virtual-scroll-viewport>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
