<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button menu="m1"></ion-menu-button>
    </ion-buttons>
    <ion-title>Übersicht</ion-title>
    <ion-buttons slot="primary">
      <ion-text class="ion-padding group-name" routerLink="/groupoverview"><small>{{ (activeGroup.name.length > 20)? (activeGroup.name | slice:0:20) + '...' : (activeGroup.name) }}</small></ion-text>
      <ion-button id="popover-button" [class.hide]="availableYears().length === 0">
        <ion-icon name="ellipsis-vertical"></ion-icon>
      </ion-button>
      <ion-popover trigger="popover-button" [dismissOnSelect]="true" side="bottom" alignment="start">
        <ng-template>
          <ion-content>
            <ion-list lines="none">
              <ion-item *ngFor="let year of availableYears()" size="small" [button]="true" [detail]="false" (click)="getSpendingsOverview(year)">{{year}}</ion-item>
            </ion-list>
          </ion-content>
        </ng-template>
      </ion-popover>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="refreshSpendings($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-segment [(ngModel)]="segment">
    <ion-segment-button value="year">
      <ion-label>jährlich</ion-label>
    </ion-segment-button>
    <ion-segment-button value="month">
      <ion-label>monatlich</ion-label>
    </ion-segment-button>
  </ion-segment>

  <ion-grid class="ion-padding">
    <ion-row>
      <ion-col class="ion-text-center" size-md="6" offset-md="3" *ngIf="isLoading">
        <ion-spinner color="primary"></ion-spinner>
      </ion-col>
      <ion-col class="ion-text-center" size-md="6" offset-md="3" *ngIf="!isLoading && segment == 'year' && (!spendingsPerYear() || spendingsPerYear()?.length === 0)">
        <p>Keine Ausgaben vorhanden!</p>
      </ion-col>
      <ion-col class="ion-text-center" size-md="6" offset-md="3" *ngIf="!isLoading && segment == 'month' && (!spendingsPerMonth() || spendingsPerMonth()?.length === 0)">
        <p>Keine Ausgaben vorhanden <br> für das aktuelle Jahr!</p>
      </ion-col>
    </ion-row>

    <!-- overview of total spendings (per year & for all years) -->
    <ion-row>
      <ion-col size-md="6" offset-md="3" *ngIf="!isLoading && (segment === 'year' ? spendingsTotalYearYearly().spendingsTotalUser.length : spendingsTotalYearMonthly().spendingsTotalUser.length) > 0">
        <ion-list *ngIf="!isLoading && (segment === 'year' ? spendingsTotalYearYearly().spendingsTotalUser.length : spendingsTotalYearMonthly().spendingsTotalUser.length) > 0">
          <ion-item lines="none">

            <ion-label>
              <div class="spendings-details">
                <div class="spendings-date">
                  <ion-text class="month" *ngIf="segment == 'month' && spendingsPerMonth()?.length">
                    {{ spendingsPerMonth()![spendingsPerMonth()!.length - 1].monthName }} - {{ spendingsPerMonth()![0].monthName }}
                  </ion-text>
                  
                  <ion-text *ngIf="segment == 'month'">
                    {{ year() }}
                  </ion-text>
                  
                  <ion-text class="month" *ngIf="segment == 'year' && spendingsPerYear()?.length">
                    {{ spendingsPerYear()![spendingsPerYear()!.length - 1].year }} - {{ spendingsPerYear()![0].year }}
                  </ion-text>
                </div>
                            
                <div class="spendings-user-details" *ngFor="let userSpendings of (segment === 'year' ? spendingsTotalYearYearly().spendingsTotalUser : spendingsTotalYearMonthly().spendingsTotalUser)">
                  <div [class.spendings-user-amount-single]="(segment === 'year' ? spendingsTotalYearYearly().spendingsTotalUser.length : spendingsTotalYearMonthly().spendingsTotalUser.length) <= 1" 
                       [class.spendings-user-amount]="(segment === 'year' ? spendingsTotalYearYearly().spendingsTotalUser.length : spendingsTotalYearMonthly().spendingsTotalUser.length) > 1">
                    <div class="space">
                      <ion-text [attr.color]="userSpendings.userName === user?.name ? 'primary' : 'medium'">
                        {{ (userSpendings.userName.length > 8) ? (userSpendings.userName | slice:0:8) + '...' : userSpendings.userName }}
                      </ion-text>
                      <ion-text>
                        {{ userSpendings.sum | scientificCurrency }}
                      </ion-text>
                    </div>
                  </div>
                  <div *ngIf="(segment === 'year' ? spendingsTotalYearYearly().spendingsTotalUser.length : spendingsTotalYearMonthly().spendingsTotalUser.length) > 1" class="spendings-user-diff">
                    <ion-text *ngIf="userSpendings.diff >= 0" color="primary" class="bold">
                      {{ userSpendings.diff | scientificCurrency }}
                    </ion-text>
                    <ion-text *ngIf="userSpendings.diff < 0" color="danger" class="bold">
                      {{ userSpendings.diff | scientificCurrency }}
                    </ion-text>
                  </div>
                </div>
      
                <div *ngIf="(segment === 'year' ? spendingsTotalYearYearly().spendingsTotalUser.length : spendingsTotalYearMonthly().spendingsTotalUser.length) > 1" class="spendings-total">
                  <ion-text class="bold" color="medium">Gesamt:</ion-text>
                  <ion-text class="bold">
                    {{ (segment === 'year' ? spendingsTotalYearYearly().sumTotalYear : spendingsTotalYearMonthly().sumTotalYear)  | scientificCurrency }}
                  </ion-text>
                </div>
              </div>
            </ion-label>

          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>

    <ion-row>
      <!-- yearly and monthly overview -->
      <ion-col 
        size-md="6" 
        offset-md="3" 
        *ngIf="!isLoading && ((segment === 'year' && spendingsPerYear().length > 0) || (segment === 'month' && spendingsPerMonth().length > 0))"
      >
        <ion-list *ngIf="!isLoading && ((segment === 'year' && spendingsPerYear().length > 0) || (segment === 'month' && spendingsPerMonth().length > 0))">
          
          <ion-list-header (click)="hide()">
            <ion-text class="space-right">
              {{ segment === 'year' ? 'Jährliche Ausgaben' : 'Monatliche Ausgaben' }}
            </ion-text>
            <ion-icon *ngIf="hidden" name="chevron-down-outline"></ion-icon>
            <ion-icon *ngIf="!hidden" name="chevron-up-outline"></ion-icon>
          </ion-list-header>

          <!-- jährliche Ausgaben -->
          <div *ngIf="segment === 'year'">
            <ion-item [hidden]="hidden" *ngFor="let spendings of spendingsPerYear()">
              <ion-label>
                <div class="spendings-details">
                  <div class="spendings-date">
                    <ion-text class="month">
                      {{ spendings.year }}
                    </ion-text>
                  </div>
  
                  <div class="spendings-user-details" *ngFor="let userSpendings of spendings.spendingsYearlyUser">
                    <div 
                      [class.spendings-user-amount-single]="spendingsTotalYearYearly().spendingsTotalUser.length <= 1"
                      [class.spendings-user-amount]="spendingsTotalYearYearly().spendingsTotalUser.length > 1"
                    >
                      <div class="space">
                        <ion-text [attr.color]="userSpendings.userName === user?.name ? 'primary' : 'medium'">
                          {{ (userSpendings.userName.length > 8) ? (userSpendings.userName | slice:0:8) + '...' : userSpendings.userName }}
                        </ion-text>
                        <ion-text>
                          {{ userSpendings.sum | scientificCurrency }}
                        </ion-text>
                      </div>
                    </div>
  
                    <div 
                      *ngIf="spendingsTotalYearYearly().spendingsTotalUser.length > 1" 
                      class="spendings-user-diff"
                    >
                      <ion-text *ngIf="userSpendings.diff >= 0" color="primary" class="bold">
                        {{ userSpendings.diff | scientificCurrency }}
                      </ion-text>
                      <ion-text *ngIf="userSpendings.diff < 0" color="danger" class="bold">
                        {{ userSpendings.diff | scientificCurrency }}
                      </ion-text>
                    </div>
                  </div>
  
                  <div 
                    *ngIf="spendingsTotalYearYearly().spendingsTotalUser.length > 1" 
                    class="spendings-total"
                  >
                    <ion-text class="bold" color="medium">Gesamt:</ion-text>
                    <ion-text class="bold">
                      {{ spendings.sumTotalYear | scientificCurrency }}
                    </ion-text>
                  </div>
                </div>
              </ion-label>
            </ion-item>
          </div>

           <!-- monatliche Ausgaben -->
           <div *ngIf="segment === 'month'">
            <ion-item [hidden]="hidden" *ngFor="let spendings of spendingsPerMonth()">
              <ion-label>
                <div class="spendings-details">
                  <div class="spendings-date">
                    <ion-text class="month">
                      {{ spendings.monthName }}
                    </ion-text>
                  </div>
  
                  <div class="spendings-user-details" *ngFor="let userSpendings of spendings.spendingsMonthlyUser">
                    <div 
                      [class.spendings-user-amount-single]="spendingsTotalYearMonthly().spendingsTotalUser.length <= 1"
                      [class.spendings-user-amount]="spendingsTotalYearMonthly().spendingsTotalUser.length > 1"
                    >
                      <div class="space">
                        <ion-text [attr.color]="userSpendings.userName === user?.name ? 'primary' : 'medium'">
                          {{ (userSpendings.userName.length > 8) ? (userSpendings.userName | slice:0:8) + '...' : userSpendings.userName }}
                        </ion-text>
                        <ion-text>
                          {{ userSpendings.sum | scientificCurrency }}
                        </ion-text>
                      </div>
                    </div>
  
                    <div 
                      *ngIf="spendingsTotalYearMonthly().spendingsTotalUser.length > 1" 
                      class="spendings-user-diff"
                    >
                      <ion-text *ngIf="userSpendings.diff >= 0" color="primary" class="bold">
                        {{ userSpendings.diff | scientificCurrency }}
                      </ion-text>
                      <ion-text *ngIf="userSpendings.diff < 0" color="danger" class="bold">
                        {{ userSpendings.diff | scientificCurrency }}
                      </ion-text>
                    </div>
                  </div>
  
                  <div 
                    *ngIf="spendingsTotalYearMonthly().spendingsTotalUser.length > 1" 
                    class="spendings-total"
                  >
                    <ion-text class="bold" color="medium">Gesamt:</ion-text>
                    <ion-text class="bold">
                      {{ spendings.sumTotalMonth | scientificCurrency }}
                    </ion-text>
                  </div>
                </div>
              </ion-label>
            </ion-item>
          </div>

        </ion-list>
      </ion-col>

    </ion-row>

  </ion-grid>

</ion-content>
