.hide {
    display: none;
}

ion-popover {
    --width: 4.5rem;
}

ion-item {
    --min-height: 2.5rem;
}

ion-item:last-child {
    --inner-border-width: 0 !important;
}

ion-segment {
    ion-label {
        font-size: smaller;
    }
}

.spendings-details {
    display: flex;
    flex-direction: column;
    .spendings-date {
        display: flex;
        padding-bottom: 6px;
        .month {
            font-weight: bold;
            padding-right: 6px;
        }
    }
    .spendings-user-details {
        display: flex;
        justify-content: space-between;
        // width: 230px;
        .spendings-user-amount {
            display: flex;
            flex-direction: column;
            .space {
                display: flex;
                justify-content: space-between;
                width: 12rem;
            }
        }
        .spendings-user-amount-single {
            display: flex;
            flex-direction: column;
            width: 100vw;
            font-weight: bold;
            .space {
                display: flex;
                justify-content: space-between;
            }
        }
        .spendings-user-diff {
            display: flex;
            flex-direction: column;
        }
    }
    .spendings-total {
        display: flex;
        justify-content: space-between;
        width: 12rem;
        padding-top: 6px;
    }
}

.space-right {
    padding-right: 8px;
}

.bold {
    font-weight: bold;
}

.positive {
    color: #5da7d5;
}

.negative {
    color: #8e5ea2;
}

