<ion-content>
  <ion-toolbar>
    <ion-title>Gruppenmitglieder</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="onDismiss()">
        <ion-icon *ngIf="!isSelected" name="close-outline" slot="icon-only"></ion-icon>
        <ion-icon *ngIf="isSelected" name="checkmark-outline" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-list class="ion-text-center" *ngIf="groupMembers().members.length === 0">
    <ion-text class="ion-text-wrap">{{ groupMembers().name }}</ion-text>
    <ion-item class="ion-text-center" lines="none">
      <ion-label><small>Keine Mitglieder vorhanden!</small></ion-label>
    </ion-item>
  </ion-list>
  <ion-list class="ion-text-center ion-padding" *ngIf="groupMembers().members.length > 0">
    <ion-text class="ion-text-wrap">{{ groupMembers().name }}</ion-text>
    <div *ngIf="groupOwnerName === user?.name" (click)="toggleVisability()" class="select-owner">
      <ion-text><small>Gruppenadmin ändern</small></ion-text>
      <ion-icon *ngIf="isNotVisible" name="chevron-forward-outline" slot="icon-only" size="small"></ion-icon>
      <ion-icon *ngIf="!isNotVisible" name="chevron-back-outline" slot="icon-only" size="small"></ion-icon>
    </div>

    <form [formGroup]="form">
      <ion-radio-group 
        [allowEmptySelection]="true"
        formControlName="selectedOption">
        <ion-item *ngFor="let member of groupMembers().members, let i = index">
          <ion-icon slot="start" name="person"></ion-icon>
          <ion-label>
            <div class="owner">
              <ion-radio 
                color="success"
                [value]="member.id"
                (click)="getSelectedMember($event, member, groupMembers().id, i)"
                *ngIf="groupOwnerName === user?.name"
                [class.isNotVisible]="isNotVisible"
              ></ion-radio>
              <h2 class="ion-text-wrap">{{ member.userName | titlecase }}</h2>
              <ion-text class="ion-text-wrap" color="medium" *ngIf="isSelected && memberIndex === i"><small>(Admin)</small></ion-text>
            </div>
          </ion-label>
          <ion-icon 
              *ngIf="member.userName === user?.name || groupOwnerName === user?.name"
              (click)="removeMemberFromGroup(member, groupMembers())"
              slot="end"
              name="close-circle-outline">
          </ion-icon>
        </ion-item>
      </ion-radio-group>
    </form>

  </ion-list>
</ion-content>
